* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #F8F5F0;
   
}
html{
    scroll-behavior: smooth;
}
#home,
#about,
#menu,
#gallery,
#reservation,
#visit{

    scroll-margin-top:100px;

}

.background-video video {

    position: relative;

    top: 0;

    left: 0;

    width: 100%;

    height: 99%;
height:100vh;

overflow:hidden;

    object-fit: cover;
    padding-top: 5px;
    padding-bottom: 30px;
    background-color: black;
    
}

.overlay {

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    background: rgba(0, 0, 0, .50);
box-shadow: inset 0 -60px 40px -20px rgba(0, 0, 0, .75);
}
.hero{

position:absolute;

top:50%;

left:50%;

transform:translate(-50%,-50%);

z-index:5;

text-align:center;

color:white;

width:80%;

}
.restaurant-name{

font-size:20px;

letter-spacing:8px;

text-transform:uppercase;

margin-bottom:15px;

font-family:Poppins,sans-serif;

color:#D4AF37;

}
.hero h1{

font-size:78px;

line-height:1.1;

font-family:"Playfair Display",serif;

margin-bottom:25px;

font-weight:700;

}
.hero-description{

font-size:20px;

max-width:700px;

margin:auto;

line-height:1.8;

margin-bottom:40px;

font-family:Poppins,sans-serif;

}
.hero-buttons{

display:flex;

justify-content:center;

gap:25px;

}
.primary-btn{

padding:16px 34px;

background:#D4AF37;

color:black;

text-decoration:none;

border-radius:40px;

font-weight:600;

transition:.15s;

}
.primary-btn:hover{

background:white;

transform:translateY(-4px);

}
.secondary-btn{

padding:16px 34px;

border:2px solid #D4AF37;

color:white;

text-decoration:none;

border-radius:40px;

transition:.15s;

}
.secondary-btn:hover{

background:#D4AF37;

color:black;

}

.nav-bar {
    display: flex;
    flex-direction: row;
    
    align-items: center;
    z-index: 100;
  width: 100%;
    padding: 25px 70px;
 position:absolute;
    background-color: transparent;
    top:0;
    
}

.left,
.center,
.right{
    flex:1;
    display:flex;
    align-items:center;
}

.left{
    justify-content:flex-end;
    gap:60px;
}

.center{
    justify-content:center;
}

.right{
    justify-content:flex-start;
    gap:60px;
}


.logo {

    width: 120px;

    height: auto;

}

.nav-icons a {

    text-decoration: none;

    color: white;

    font-size: 21px;

    font-weight: 500;

    transition: .15s;


}

.nav-icons a:hover {

    color: #D4AF37;

}
.about{

display:flex;

justify-content:space-between;

align-items:center;

padding:120px 10%;

background:#F8F5F0;

gap:80px;
  

}
.about:hover{
    box-shadow:  20px 20px 32px rgba(0,0,0,0.34);
}
.about-image img{

width:500px;

border-radius:18px;

box-shadow:0 20px 40px rgba(0,0,0,.2);
display:block;

}
.about-small{

letter-spacing:5px;

color:#D4AF37;

font-weight:600;

margin-bottom:15px;

}
.about-content h2{

font-size:52px;

font-family:"Playfair Display",serif;

margin-bottom:25px;

color:#2D2D2D;

}
.about-content p{

font-size:18px;

line-height:1.8;

color:#555;

margin-bottom:30px;

}
.about-content ul{

list-style:none;

margin-bottom:35px;

}
.about-content li{

margin-bottom:15px;

font-size:18px;

}
.story-btn{

display:inline-block;

padding:16px 36px;

background:#7B1E1E;

color:white;

text-decoration:none;

border-radius:40px;

transition:.3s;

}
.story-btn:hover{

background:#D4AF37;

color:black;

}
.reverse{

    flex-direction:row-reverse;

}
.signature{
    padding:120px 10%;

text-align:center;

background:#fff;
}
.signature-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:35px;

margin-top:70px;

}
.dish-card{
    overflow: hidden;
    border-radius: 20px;
    background: white;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.12);
    transition:0.15s;
}
.dish-card:hover{

transform:translateY(-12px);

box-shadow:0 20px 40px rgba(0,0,0,.2);

}
.dish-card img{

width:100%;


height: 420px;
object-fit:cover;

transition:.15s;

}

.dish-card:hover img{

transform:scale(1.02);

}
.dish-card a{

display:inline-block;

margin:20px;

padding:12px 28px;

background:#7B1E1E;

color:white;

text-decoration:none;

border-radius:30px;

transition:.3s;

}
.dish-card a:hover{

background:#D4AF37;

color:black;

}
.filter-buttons{

display:flex;

justify-content:center;

gap:20px;

margin:50px 0;

flex-wrap:wrap;

}
.filter-btn{

padding:14px 28px;

border:none;

cursor:pointer;

border-radius:30px;

background:#F3F3F3;

transition:.3s;

}
.filter-btn:hover{

background:#D4AF37;

}
.active{

background:#7B1E1E;

color:white;

}
/* ================= MENU SECTION ================= */

.menu-section{

    padding:100px 10%;

    background:#F8F5F0;

}

.menu-small{

    text-align:center;

    letter-spacing:6px;

    color:#D4AF37;

    font-weight:600;

    margin-bottom:12px;

}

.menu-title{

    text-align:center;

    font-size:52px;

    font-family:"Playfair Display", serif;

    color:#2D2D2D;

    margin-bottom:50px;

}

/* ============== FILTER BUTTONS ============== */

.filter-buttons{

    display:flex;

    justify-content:center;

    flex-wrap:wrap;

    gap:20px;

    margin-bottom:60px;

}

.filter-btn{

    padding:14px 32px;

    border:none;

    border-radius:40px;

    background:white;

    color:#2D2D2D;

    cursor:pointer;

    font-size:17px;

    font-weight:600;

    transition:.3s;

    box-shadow:0 5px 15px rgba(0,0,0,.12);

}

.filter-btn:hover{

    background:#D4AF37;

    color:white;

    transform:translateY(-3px);

}

.filter-btn.active{

    background:#7B1E1E;

    color:white;

}

/* ============== MENU GRID ============== */

.menu-grid{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:35px;

}

/* ============== MENU CARD ============== */

.menu-card{

    background:white;

    border-radius:18px;

    overflow:hidden;

    box-shadow:0 10px 30px rgba(0,0,0,.15);

    transition:.3s;

    text-align:center;

}

.menu-card:hover{

    transform:translateY(-10px);

    box-shadow:0 18px 45px rgba(0,0,0,.25);

}

/* ============== IMAGE ============== */

.menu-card img{

    width:100%;

    height:260px;

    object-fit:cover;

    transition:.35s;

}

.menu-card:hover img{

    transform:scale(1.08);

}

/* ============== TEXT ============== */

.menu-card h3{

    margin-top:22px;

    font-size:28px;

    font-family:"Playfair Display",serif;

    color:#2D2D2D;

}
.our-menu{

font-size: 23px;
text-align: center;
padding-top:10px;
}
.menu-card p{

    margin:15px 25px;

    color:#666;

    line-height:1.6;

    font-size:16px;

}

.menu-card h4{

    color:#7B1E1E;

    font-size:24px;

    margin-bottom:22px;

}

/* ============== BUTTON ============== */

.menu-card a{

    display:inline-block;

    margin-bottom:25px;

    padding:13px 28px;

    background:#D4AF37;

    color:black;

    text-decoration:none;

    border-radius:40px;

    font-weight:600;

    transition:.3s;

}

.menu-card a:hover{

    background:#7B1E1E;

    color:white;

}
.filter-btn{

    padding:14px 28px;

    border:none;

    border-radius:30px;

    background:#f3f3f3;

    cursor:pointer;

    transition:0.3s;

    font-size:16px;

    font-weight:600;

}

.filter-btn:hover{

    background:#D4AF37;

    color:white;

}

.filter-btn.active{

    background:#7B1E1E;

    color:white;

}
.gallery-section{

    padding:100px 10%;

    background:#ffffff;

}

.gallery-small{

    text-align:center;

    letter-spacing:6px;

    color:#D4AF37;

    font-weight:600;

    margin-bottom:10px;

}

.gallery-title{

    text-align:center;

    font-size:52px;

    font-family:"Playfair Display",serif;

    margin-bottom:50px;

    color:#2D2D2D;

}

.gallery-grid{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:25px;

}

.gallery-item{

    overflow:hidden;

    border-radius:18px;

    box-shadow:0 10px 25px rgba(0,0,0,.15);

}

.gallery-item img{

    width:100%;

    height:550px;

    object-fit:cover;

    transition:.4s;

}

.gallery-item:hover img{

    transform:scale(1.1);

}
.reservation-section{

    padding:100px 10%;

    background:#F8F5F0;

}

.reservation-small{

    text-align:center;

    color:#D4AF37;

    letter-spacing:6px;

    font-weight:600;

    margin-bottom:12px;

}

.reservation-title{

    text-align:center;

    font-size:52px;

    font-family:"Playfair Display",serif;

    margin-bottom:18px;

}

.reservation-description{

    text-align:center;

    max-width:650px;

    margin:auto;

    margin-bottom:45px;

    color:#666;

    line-height:1.8;

}

#reservation-form{

    max-width:900px;

    margin:auto;

}

.reservation-grid{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:25px;

}

#reservation-form input,
#reservation-form textarea{

    width:100%;

    padding:16px;

    border:1px solid #ddd;

    border-radius:10px;

    font-size:16px;

    margin-bottom:25px;

    outline:none;

}

#reservation-form input:focus,
#reservation-form textarea:focus{

    border-color:#D4AF37;

}

.reserve-btn{

    display:block;

    width:100%;

    padding:18px;

    background:#7B1E1E;

    color:white;

    border:none;

    border-radius:50px;

    font-size:18px;

    cursor:pointer;

    transition:.3s;

}

.reserve-btn:hover{

    background:#D4AF37;

    color:black;

}
/* ================= VISIT SECTION ================= */

.visit-section{

    padding:100px 10%;

    background:#F8F5F0;

}

.visit-small{

    text-align:center;

    letter-spacing:6px;

    color:#D4AF37;

    font-weight:600;

    margin-bottom:12px;

}

.visit-title{

    text-align:center;

    font-size:52px;

    font-family:"Playfair Display",serif;

    margin-bottom:20px;

    color:#2D2D2D;

}

.visit-description{

    max-width:700px;

    margin:auto;

    text-align:center;

    line-height:1.8;

    color:#666;

    margin-bottom:60px;

}

.visit-container{

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:80px;

}

.visit-info{

    flex:1;

}

.info-box{

    margin-bottom:35px;

}

.info-box h3{

    color:#7B1E1E;

    margin-bottom:12px;

    font-size:24px;

}

.info-box p{

    line-height:1.8;

    color:#555;

}

.map-btn{

    display:inline-block;

    margin-top:20px;

    padding:16px 34px;

    background:#D4AF37;

    color:black;

    text-decoration:none;

    border-radius:40px;

    font-weight:600;

    transition:.3s;

}

.map-btn:hover{

    background:#7B1E1E;

    color:white;

}

.visit-image{

    flex:1;

}

.visit-image img{

    width:100%;
    height:100%;

    border-radius:20px;

    box-shadow:0 20px 40px rgba(0,0,0,.2);

    transition:.35s;

}

.visit-image img:hover{

    transform:scale(1.04);

}
/* ================= FOOTER ================= */

.footer{

    background:#1A1A1A;

    color:white;

    padding:80px 10% 30px;

}

.footer-container{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:50px;

}

.footer-logo{

    width:120px;

    margin-bottom:15px;

}

.footer-brand h2{

    font-family:"Playfair Display",serif;

    margin-bottom:15px;

}

.footer-brand p{

    color:#ccc;

    line-height:1.8;

}

.footer-links{

    display:flex;

    flex-direction:column;

}

.footer-links h3{

    margin-bottom:18px;

}

.footer-links a{

    color:#ccc;

    text-decoration:none;

    margin-bottom:12px;

    transition:.3s;

}

.footer-links a:hover{

    color:#D4AF37;

}

.footer-contact h3{

    margin-bottom:18px;

}

.footer-contact p{

    margin-bottom:14px;

    color:#ccc;

}

.footer-newsletter h3{

    margin-bottom:18px;

}

.footer-newsletter p{

    color:#ccc;

    margin-bottom:20px;

}

.footer-newsletter input{

    width:100%;

    padding:14px;

    border:none;

    border-radius:8px;

    margin-bottom:15px;

}

.footer-newsletter button{

    width:100%;

    padding:14px;

    border:none;

    border-radius:8px;

    background:#D4AF37;

    cursor:pointer;

    font-weight:600;

    transition:.3s;

}

.footer-newsletter button:hover{

    background:#7B1E1E;

    color:white;

}

.footer hr{

    margin:50px 0 25px;

    border:.5px solid #444;

}

.footer-bottom{

    text-align:center;

    color:#999;

}


/* media queries */

@media(max-width:992px){

.menu-grid{

grid-template-columns:repeat(2,1fr);

}
.footer-container{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:768px){
   

.nav-bar{

    flex-direction:column;

    padding:20px;

}

.left,
.right{

    justify-content:center;

    gap:20px;

    flex-wrap:wrap;

}

.center{

    order:-1;

    margin-bottom:20px;

}

.hero{

    width:90%;

}

.hero h1{

    font-size:42px;

}

.hero-description{

    font-size:16px;

}

.hero-buttons{

    flex-direction:column;

}
.about{

    flex-direction:column;

    text-align:center;

    gap:40px;

    padding:70px 8%;

}

.about-image img{

    width:100%;

}

.about-content h2{

    font-size:36px;

}
.signature-grid{

    grid-template-columns:1fr;

}
.gallery-grid{

grid-template-columns:1fr;

}
.gallery-item img{

    height:280px;

}


.dish-card img{

    height:280px;

}
.reservation-grid{

    grid-template-columns:1fr;
}
.menu-grid{

grid-template-columns:1fr;

}

.menu-title{

font-size:38px;

}

.filter-buttons{

gap:12px;

}

.filter-btn{

padding:12px 22px;

font-size:15px;

}

.visit-container{

flex-direction:column;

}

.visit-title{

font-size:38px;

}
.footer-container{

grid-template-columns:1fr;

text-align:center;

}
.about-content h2,
.signature-title,
.menu-title,
.gallery-title,
.reservation-title,
.visit-title{

    font-size:34px;

}


}